.countryDetail {
  text-align: center;
  margin-bottom: 50px;
  border-bottom: 1px solid #181818;
}
.countryDetail h3 {
 color: #2D93AD;
}
.holidayDetail {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.holidayDetail span {
  color: #181;
}
